
.caja{
	height: 200px;
	width: 200px;
	position: absolute;

}
body {
	margin: 0;
	padding: 0;
}

.roja{
      background-color:#ee3e64;
      left: 0;
      top: 0;
}

.azul{
      background-color:#44accf;
      top: 0;
      right:0;     
}

.verde{
      background-color:#b7d84b;
      left:0;
      bottom:0;

}

.amarilla{
	background-color:#FFFF0A;
      right:0; 
      bottom:0;
}