.caja{
	height: 200px;
	width: 200px;
	position: 
	

}
body {
	margin: 0;
	padding: 0;
}

.roja{
      background-color:#ee3e64;

}

.azul{
      background-color:#44accf;
      margin-left: 200px;
      position: absolute;

}

.verde{
      background-color:#b7d84b;

}

.amarilla{
      background-color:#FFFF0A;

}/* Pon tu código css aqui */